{{extend 'layout.html'}}

<div class="row">
	<div class="span4 offset5">
		<a class="pull-right" href="{{=URL('paypal','set_express_checkout_to_subscription')}}">Compre com:<!-- PayPal Logo --> <img src="https://www.paypalobjects.com/webstatic/mktg/br/botao-checkout_horizontal_ap.png" border="0"><!-- PayPal Logo --></a>
	</div>
	<div class="span1"></div>
	<div class="span2">
		<a id="target" href="#" class="btn btn-large btn-success">Finalizar Pedido</a>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table id='itens' class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Valor Unitario</th>
				<th>Periodo (dias)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="data">
				<td class="inputValue">1</td>
				<td class="inputValue">Revista Info</td>
				<td class="inputValue">1</td>
				<td class="inputValue">100,00</td>
				<td class="inputValue">1</td>
			</tr>			
		</tbody>
		</table>
	</div>
</div>