{{extend 'layout.html'}}

<h1>Confirmacao do pedido</h1>

<h2>{{=details['L_NAME0']}}</h2>
<label for=""><strong>DESCRICAO:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_DESC0']}}</span>
<label for=""><strong>VALOR UNITARIO:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_AMT0']}}</span>
<label for=""><strong>QUANTIDADE:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_QTY0']}}</span>

<hr>

<h2>{{=details['L_NAME1']}}</h2>
<label for=""><strong>DESCRICAO:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_DESC1']}}</span>
<label for=""><strong>VALOR UNITARIO:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_AMT1']}}</span>
<label for=""><strong>QUANTIDADE:</strong></label><span>{{=details['L_PAYMENTREQUEST_0_QTY1']}}</span>

<hr>

<h3>TOTAL:</h3>
<h4>{{=details['PAYMENTREQUEST_0_AMT']}}</h4>

<hr>

<div class="row">	
	<div class="span4">		
		<a href="{{=URL('paypal','do_express_checkout', vars=details)}}" class="btn btn-large btn-success">Confirmar Pedido</a>
	</div>
</div>