{{extend 'layout.html'}}

<div class="row">
	<div class="span4 offset5">
		<a id="submitBtn" name="submitBtn" idclass="pull-right" href="{{=URL('paypal','set_express_checkout')}}">Compre com:<!-- PayPal Logo --> <img src="https://www.paypalobjects.com/webstatic/mktg/br/botao-checkout_horizontal_ap.png" border="0"><!-- PayPal Logo --></a>
	</div>
	<div class="span1"></div>
	<div class="span2">
		<a id="target" href="#" class="btn btn-large btn-success">Finalizar Pedido</a>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table id='itens' class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Valor Unitario</th>
			</tr>
		</thead>
		<tbody>
			<tr class="data">
				<td class="inputValue">1</td>
				<td class="inputValue">Tablet Phaser Kinno II PC713 com Tela 7"</td>
				<td class="inputValue">2</td>
				<td class="inputValue">236,00</td>
			</tr>
			<tr class="data">
				<td class="inputValue" id='2'>2</td>
				<td class="inputValue">Celular Desbloqueado CCE Motion Plus SK351 Preto com Dual Chip</td>
				<td class="inputValue">1</td>
				<td class="inputValue">249,00</td>
			</tr>			
		</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
<script>
            var dg = new PAYPAL.apps.DGFlow({
                trigger: "submitBtn"
            });
</script>
