{{extend 'layout.html'}}

<div class="row">
	<section class="span3">
		<h1>Compras</h1>
		<hr>
		<div class="span6">
			<!-- <div class="well" style="max-width: 350px;"> -->
				<a href="{{=URL('paypal','compras_escolha_itens')}}" class="btn btn-large btn-primary">No carrinho</a>
				<br><br>
				<a href="{{=URL('paypal','pagina_produto')}}" class="btn btn-large btn-info">Pagina no produto</a>
			<!-- </div> -->
		</div>		
	</section>
	<section class="span3">
		<h1>Assinaturas</h1>
		<hr>
		<div class="span6">
			<!-- <div class="well" style="max-width: 350px;"> -->
				<a href="{{=URL('paypal','assinaturas_escolha_itens')}}" class="btn btn-large btn-primary">No carrinho</a>
				<br><br>
				<a href="#" class="btn btn-large disabled">Pagina da assinatura</a>
			<!-- </div> -->
		</div>		
	</section>
	<section class="span3">
		<h1>Estorno</h1>
		<hr>
		<div class="span2">
			<!-- <div class="well" style="max-width: 350px;"> -->
				<a href="{{=URL('paypal','estorno')}}" class="btn btn-large btn-warning">Estorno</a>
			<!-- </div> -->
		</div>
	</section>
</div>


