{{extend 'layout.html'}}

<div class="row">
	<section class="span5">
		<h1>Compras</h1>
		<hr>
		<div class="span6">
			<div class="well" style="max-width: 350px;">
				<button class="btn btn-large btn-block btn-primary" type="button">PayPal na finalizacao</button>
				<button class="btn btn-large btn-block" type="button">PayPal na pagina de compra</button>
			</div>
		</div>		
	</section>
	<section class="span5">
		<h1>Assinaturas</h1>
		<hr>
		<div class="span6">
			<div class="well" style="max-width: 350px;">
				<button class="btn btn-large btn-block btn-primary" type="button">PayPal na finalizacao</button>
				<button class="btn btn-large btn-block" type="button">PayPal na pagina de compra</button>
			</div>
		</div>		
	</section>
</div>
