{{extend 'layout.html'}}

<div class="row">
	<section class="span5">
		<h1>Compras</h1>
		<hr>
		<div class="span6">
			<div class="well" style="max-width: 350px;">
				<a href="{{=URL('paypal','compras_escolha_itens')}}" class="btn btn-large btn-primary">PayPal na finalizacao</a>
				<br><br>
				<a href="#" class="btn btn-large disabled">PayPal na pagina de compra</a>
			</div>
		</div>		
	</section>
	<section class="span5">
		<h1>Assinaturas</h1>
		<hr>
		<div class="span6">
			<div class="well" style="max-width: 350px;">
				<a href="#" class="btn btn-large btn-primary disabled">PayPal na finalizacao</a>
				<br><br>
				<a href="#" class="btn btn-large disabled">PayPal na pagina de compra</a>
			</div>
		</div>		
	</section>
</div>
