{{extend 'layout.html'}}

<airticle class="article">
          <div class="row bottom-space">
            <div class="span12">
              <div class="page-header">
                <h1>Tablet Phaser Kinno II PC713 com Tela 7"<small>4GB, Câmera, Wi-Fi, Suporte à Modem 3G e Android 4.0 - R$ 236,00</small></h1>
              </div>
            </div>
            <!-- <div class="span12 center-align">
              <img src="http://placehold.it/800x300" class="thumbnail product-snap">            
            </div> -->
          </div>
          <div class="row">
            <div class="span10 offset1">
              <p>
                O Tablet Kinno II PC713 da Phaser será seu mais novo companheiro para seus momentos de acesso a internet com a tecnologia Wi-Fi (rede sem fio). Acesse seus sites favoritos, consulte seus e-mails, leia as principais notícias do país e do mundo, converse com amigos pelas redes sociais, compartilhe arquivos e muito mais.

				O aparelho é ideal para quem busca um tablet para ficar integrado ao mundo multimídia. Possui um processador AllWinner A13 de 1.0 GHz e 512 MB de Memória RAM DDR3, além de contar com o sistema operacional Android 4.0, com uma interface objetiva e de fácil acesso.
              </p>                                         
            </div>      
          </div>
          <div class="row">
            <div class="span10 offset1">
              <hr>
              <div class="span3">
                <p>
                  Colocar no carrinho!
                </p>
                <a class="btn btn-block btn-success" href="#"	>Comprar</a>
              </div>
              <div class="span3">
                
                  <a class="pull-right" href="{{=URL('paypal','set_express_checkout_product_page')}}">Finalizar compra com:<!-- PayPal Logo --> <img src="https://www.paypalobjects.com/webstatic/mktg/br/botao-checkout_horizontal_ap.png" border="0"><!-- PayPal Logo --></a>
              </div>                            
            </div>
          </div>
        </airticle>
        <!-- End: Product description -->
      </div>